@import "./colors";

.home-layout {
	display: flex;
	flex-direction: row;
	color: $text-color;
	min-height: 100vh;
}

.sidenav ul {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	min-width: 130px;
	max-width: 200px;
	background-color: rgba(0, 0, 0, 0.123);
	position: fixed;
	height: 100%;
	overflow: auto;

	li a {
		display: block;
		color: $text-color;
		padding: 8px 16px;
		text-decoration: none;

		&:hover {
			background-color: rgba(0, 0, 0, 0.226);
		}
	}

	li h2 {
		display: block;
		color: $text-color;
		padding: 8px 16px;
		text-decoration: none;
		font-size: 20px;
	}
}

.content {
	margin-left: 200px;
	width: 100%;
	min-width: 300px;
	display: flex;
	padding-top: 2em;
	justify-content: center;
	padding-right: 2em;
	padding-bottom: 5em;
}

.cg-wrap.coords {
	font-size: 200px;
}
.coords.ranks {
	font-size: 20px;
}

.ranks {
	color: $text-color;
}

.files {
	color: $text-color;
	font-size: 30px;
}
