@import "./colors";

$board-size: 50rem;

@keyframes pulse {
	0% {
		background: #2dc14f;
		transform: scale(1);
	}

	25% {
		background: darken(#2dc14f, 10%);
		transform: scale(1.015);
	}

	50% {
		background: #2dc14f;
		transform: scale(1);
	}
}

.game-status-panel {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 70%;
	background-color: #31363f;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;

	.top-row {
		display: flex;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}

	.logo {
		font-weight: normal;
		margin: 5px 0px;
		color: #ffffff;
		font-size: 3rem;
		line-height: 1.6;
		padding-left: 0.6rem;
	}

	.room-info {
		font-style: normal;
		font-weight: normal;
		width: 100%;
		display: flex;
		align-items: center;
		line-height: 1.3;
		margin: 14px 8px;
		font-size: 0.8rem;
	}

	.bottom-row {
		margin: 0;
		display: flex;
		flex-direction: column;

		padding: 0.6rem;
	}

	.white-circle {
		border-radius: 50%;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		margin-right: 5px;
	}

	.black-circle {
		border-radius: 50%;
		width: 12px;
		height: 12px;
		border: 1px solid #e1e1e1;
		margin-right: 5px;
	}

	.player-white,
	.player-black {
		font-size: 12px;
		line-height: 12px;
		display: flex;
		align-items: center;
		height: 35px;
		padding: 0.4em 0em;
	}
}

.board-container {
	width: 50%;
	min-width: 400px;
	position: relative;
	font-size: 20px;
	color: $text-color;

	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.content {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.cg-wrap {
		width: inherit;
		height: inherit;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	div p {
		margin-right: 10px;
	}

	form {
		input {
			height: 50px;
			border: 0;
			outline: 0;
			padding: 0;
			background: $secondary-color;
			border-bottom: 1px solid #24292e;
			border-radius: 2px;
			width: 20%;
			box-sizing: border-box;
			color: $text-color;
			font-size: 25px;
			transition-duration: 0.2s;
			text-align: center;

			&:focus {
				border-bottom: 1px solid #2dc14f;
				box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.041);
				transition-duration: 0.2s;
			}

			&:hover {
				box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.041);
			}
		}
	}
}

.side-panel {
	width: 100%;
	min-width: 400px;
	max-width: 600px;
	height: 70%;
	margin-left: 20px;
	background-color: $secondary-color;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tab {
	padding: 0.25rem;
	margin-top: 2px;
	overflow: hidden;
	background-color: $secondary-color;
	display: flex;
	justify-content: center;

	button {
		font-size: 0.8rem;
		font-weight: bold;
		height: 100%;
		border-radius: 2px;
		background-color: $primary-color;
		float: left;
		border: none;
		outline: none;
		padding: 14px 16px;
		transition: 0.3s;
		width: 33.1%;
		color: $text-color;
		padding: 0.9rem;

		&:hover {
			transition: 0.2s;
			background-color: $secondary-color;
		}
	}

	.active {
		background-color: $secondary-color;
	}
}

.tab-content-disabled {
	display: none;
}

.tab-content-active {
	padding: 6px 12px;
	border-top: none;
	align-items: center;
	color: $text-color;
	height: inherit;

	h2 {
		text-align: center;
	}

	.room-list {
		.header {
			li {
				color: $text-color;
				font-size: 15px;
				font-weight: bold;
			}
		}

		ul {
			list-style: none;
			line-height: 20px;
			padding-inline-start: 0;
			font-size: 12px;

			.items ul {
				width: 90%;
				height: 500px;
				overflow: hidden;
				overflow-y: scroll;
			}

			li {
				display: flex;
				margin: 2px;
				color: #2dc14f;
				border-bottom: 1px solid white;
				width: 100%;
				text-align: start;

				* {
					width: 25%;
				}

				button {
					color: $text-color;
					border: 0;
					padding: 0.5em;
					margin-bottom: 5px;
					margin-top: 5px;
					background-color: #2dc14f;
					border-radius: 4px;
					margin-right: 4px;
				}
			}
		}
	}

	.button-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		flex-direction: column;
		min-height: 70%;

		.create-new-btn {
			color: $text-color;
			font-size: 1rem;
			margin: 0 auto;
			//display: block;
			width: 70%;
			height: 4rem;
			background-color: #2b3037;
			border-radius: 4px;
			border: none;
			outline: none;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.48));
			transition: 0.2s;

			&:hover {
				background-color: darken(#2b3037, 5%);
			}

			span,
			* {
				margin: 2px 2px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				align-content: center;
				font-size: 0.9rem;
			}
		}
	}
}
